.no-posts-msg{
    color: #fff;
    font-size: 3rem;
    letter-spacing: 2px;
    animation: loadingAnimation 0.5s ease-in-out infinite both alternate;
}

.blog-bg{
    background-image: url("https://blog-api-c8j7.onrender.com/images/blog.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 98vw;
    height: 90vh;
}

@keyframes loadingAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.articles{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.section-1{
    width: fit-content;
    display: flex;
    justify-content: flex-end;   
}

.search-main{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    position: relative;
    outline: none;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
}

.search-main>input{
    width: 88%;
    padding: 0.7rem 1rem;
    background: transparent;
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 1px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.search-main>svg{
    position: absolute;
    top: 0.8rem;
    right: 1rem;
}

.section-2{
    min-width: 10rem;
    max-width: 18%;
    margin-top: 1.9rem;
}

.section-3{
    margin-top: 1.9rem;
    margin-bottom: 7rem;
}

.searched-articles{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
}

.search-number{
    color: #fff;
    text-align: left;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.searched-article-card{
    border-bottom: 1px solid #fff;
}

.searched-article-card:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

.searched-article-card>h1{
    text-align: left;
}

.cards{
    margin-top: 0.7rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.9rem;
}

.taglist{
    width: fit-content;
    /* min-width: 15rem; */
}

.sort-new{
    margin: 1.5rem 0 1rem;
    align-self: center;
    justify-self: flex-start;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
}

.sort-new:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
}

.pagination{
    width: 100%;
    margin: 2rem 0;
}

.pagination>button{
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 0 0.5rem;
}

.pagination>button:hover{
    cursor: pointer;
}

.pagination>button:disabled{
    cursor: not-allowed;
}

.page-p{
    display: inline;
    color: #fff;
}

@media screen and (max-width: 1160px){
    .navigation{
        padding: 2.5rem 7% !important;
    }
    .main{
        padding: 0 2rem;
    }
}

@media screen and (max-width: 1024px){
    .articles{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-2{
        max-width: 90%;
    }
    .section-1{
        margin-top: -1rem;
    }
    .section-3{
        margin-top: -1rem;
        width: 100%;
        display: grid;
        place-items: center;
    }
    .cards{
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    .section-1{
        width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
    }
    .section-2{
        max-width: 100%;
        align-self: center;
        margin: 2rem 2rem 0;
    }
    .cards{
        display: flex;
        align-items: center;
    }
    .taglist{
        margin-top: 0;
    }
}

@media screen and (max-width: 500px){
    .section-2{
        margin: 2rem 1rem 0;
    }
}

@media screen and (max-width: 434px){
    .pagination{
        display: flex;
        flex-direction: column;
    }
}
