.no-posts-msg{
    color: #fff;
    font-size: 3rem;
    letter-spacing: 2px;
    animation: loadingAnimation 0.5s ease-in-out infinite both alternate;
}

@keyframes loadingAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.articles{
    display: flex;
    flex-direction: row;
}

.section-1{
    width: fit-content;
    display: flex;
    justify-content: flex-end;
}

.section-2{
    max-width: 25%;
    margin-top: 1.9rem;
}

.cards{
    width: 34rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.taglist{
    margin-top: 2.5rem;
    width: fit-content;
    min-width: 15rem;
}

.sort-new{
    margin: 1.5rem 0 1rem;
    align-self: center;
    justify-self: flex-start;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
}

.sort-new:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
}

@media screen and (max-width: 900px) {
    .articles{
        flex-direction: column-reverse !important;
    }
    .section-1{
        width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
    }
    .section-2{
        max-width: 100%;
        align-self: center;
        margin: 2rem 2rem 0;
    }
    .cards{
        display: flex;
        align-items: center;
    }
    .taglist{
        margin-top: 0;
    }
}

@media screen and (max-width: 500px){
    .section-2{
        margin: 2rem 1rem 0;
    }
}