.popular-articles-main{
    position: sticky;
    top: 5.3rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

.popular-articles-title{
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.popular-articles-posts{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.3rem;
}

.popular-articles-posts>.popular-article-card{
    padding: 2rem 0.3rem;
    border-radius: 5px;
    color: #fff;
}

.popular-articles-posts>.popular-article-card:hover{
    cursor: pointer;
    background-color: rgba(0, 73, 118, 0.6);
}

@media screen and (max-width: 1024px){
    .popular-articles-main{
        width: 90%;
    }
    .popular-articles-posts{
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center;
    }
    .popular-article-card{
        min-width: 18rem;
        max-width: 22rem;
    }
}

@media screen and (max-width: 425px){
    .popular-articles-main{
        width: auto;
    }
}