.about-page-main{
    min-width: calc(100vw - 2rem);
    min-height: calc(80vh - 6rem);
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-page-card-main{
    border: 1px solid #088;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000;
    /* width: 60vw; */
    margin: 5rem 10rem;
    min-height: 60vh;
    justify-self: center;
}

.about-page-card-main h1{
    margin-top: -1.4rem;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
}

.about-page-main-content-container{
    padding: 1rem 3rem;
}

.first, 
.second {
    font-size: 1.1rem;
    text-align: left;
    line-height: 1.6rem;
}

.first-intro{
    font-size: 1.6rem;
    text-align: left;
    line-height: 1.5rem;
    font-weight: 600;
}

.second a{
    color: #088;
}

.disclaimer-consent{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.about-page-creator-one,
.about-page-creator-two{
    display: flex;
}

.about-page-creator-one p,
.about-page-creator-two p{
    margin: 0.5rem;
    margin-left: 0;
}

@media screen and (max-width: 1024px){
    .about-page-card-main{
        margin: 5rem;
    }
}

@media screen and (max-width: 640px){
    .about-page-creator-one,
    .about-page-creator-two{
        flex-direction: column;
    }
    .about-page-card-main{
        margin: 3rem;
    }
}

@media screen and (max-width: 500px){
    .about-page-card-main{
        margin: 1rem;
    }
}

@media screen and (max-width: 400px){
    .about-page-main-content-container{
        padding: 1rem;
    }
}